.body1{
	background-color: black;
	color: white;
}

.body2{
	background-color: grey;
	color: black;
}

#chat{
	font-size: 70pt;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: grey;
	background-image: url(family.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#gamu{
	font-family: cursive;
	font-size: 70pt;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background-color: grey;
	background-image: url(game.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#load{
	 display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

}

#title{
	color: red;
	font-family: sans-serif;
	font-size: 50px;
  	margin-bottom: 100px;
  	margin-right: 150px;
  	margin-left: 40%;
}

#description{
	font-size: 30px;
	font-family: cursive;
	margin-left: 4%;
	margin-right:2%;
	text-align: center;
}

#b1{

	background-color: yellow;
	  border: none;
  		color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;


}

.loading{
	font-size: 40px;
	margin-left: 40px;
	text-align: left;

}

#fam{
   width: auto;
   height: auto;
   margin-left: 20%;
 	
   mix-blend-mode: multiply;
   background-attachment: fixed;
}
}

.pic{
  filter: grayscale(1) contrast(1.5) brightness(1);	

}

.parent{
	background-color: green;
 	width: 400px;
 	border: 35px solid green;
 	padding: 5px;
 	margin: 5px;
 	margin-top: 20px;
 	margin-left: 15%;
 	font-size: 25px;
 	font-family: monospace;

}

.player{
	background-color: yellow;
 	width: 300px;
 	border: 35px solid yellow;
 	padding: 5px;
 	margin: 5px;
 	margin-top: 20px;
 	margin-left: 60%;
 	font-size: 25px;
 	font-family: cursive;

}

#b2{
	  display: flex;
  align-items: center;
	background-color: yellow;
	  border: none;
  		color: Black;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  cursor: pointer;
  justify-content: center;


}


#body3{
	background-color: hotpink;
	font-size: 20px;
	font-family: fantasy;
}


#i1{
	display: flex;
	justify-content: center;
	background-color: grey;
	font-size: 20pt;
	font-family: monospace;
	padding: 15px;
	margin: 0px;
	border-color: black;
	text-align: center;



}

#i2{
	display: inline-block;
	justify-content: center;
	background-color: whitesmoke;
	font-size: 17pt;
	font-family: monospace;
	border-color: black;
	text-align: center;


	
}

#i3{
	display: flex;
	justify-content: space-evenly;
	background-color: lightgreen;
	font-size: 14pt;
	font-family: monospace;
	padding: 40px;
	margin: 20px;
	border-color: black;
	text-align: center;

	
}
#i31{
	display: flex;
	justify-content: space-evenly;
	background-color: lightcoral;
	font-size: 14pt;
	font-family: monospace;
	padding: 40px;
	margin: 20px;
	border-color: black;
	text-align: center;

	
}
#i32{
	display: flex;
	justify-content: space-evenly;
	background-color: lightblue;
	font-size: 14pt;
	font-family: monospace;
	padding: 40px;
	margin: 20px;
	border-color: black;
	text-align: center;

	
}

#pcs{
	display: flex;
	background-color: yellow;
	justify-content: space-evenly;
		text-align: right;
		font-family: fantasy;
		font-size: 15pt;
}


#undertale{

}

#starsong{

}

#outerwild{

} 